gpu_id: '0'
model: 'AdapNet_pp_3D'
num_classes: 14
initialize: 'init_checkpoint/UEdataset/model_train_perso_5000/model.ckpt-1899'
checkpoint: 'init_checkpoint/UEdataset/redwood_supervised2'
train_data: 'config/redwood_supervised_train.record'
batch_size: 8
skip_step: 10
height: 512
width: 1024
learning_rate: 0.001
max_iteration: 2501
save_step: 500
power: 0.9

