gpu_id: '0'
model: 'AdapNet_pp'
num_classes: 4
initialize: 'init_checkpoint/AdapNet_pp_init.ckpt'
checkpoint: 'init_checkpoint/UEdataset/model_train_perso_2000'
train_data: 'config/train.record'
batch_size: 8
skip_step: 10
height: 480
width: 640
learning_rate: 0.001
max_iteration: 2000
save_step: 500
power: 0.9

